<div class="top-menu pull-left">
    <ul class="nav navbar-nav pull-left">
        <li class="dropdown dropdown-user">
            <a href="~/Stdpersonalinfo/">
                <i class="icon-certificate"></i> Admission
            </a>
        </li>
        @*<li class="dropdown dropdown-user">
            <a href="~/AcademicSection/Academic">
                <i class="icon-certificate"></i> Academic
            </a>
        </li>*@
        <li class="dropdown dropdown-user">
            <a href="~/Hrpersonalinfo/">
                <i class="icon-certificate"></i> HR &amp; Payroll
            </a>
        </li>
        <li class="dropdown dropdown-user">
            <a href="~/ControllerSection/Default/">
                <i class="icon-certificate"></i> Result
            </a>
        </li>
        <li class="dropdown dropdown-user">
            <a href="~/AcademicSection/DeptHead/">
                <i class="icon-certificate"></i> Department Head
            </a>
        </li>
    </ul>
</div>
