<div id="flash-messages" class="alert alert-solid-success" role="alert" style="display:none;">
    <div class="alert-icon"><i class="fa fa-check-circle"></i></div>
    <div class="alert-text"></div>
</div>
