@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
@*@Scripts.Render("~/bundles/bootstrap")*@
@*@Styles.Render("~/Content/pdf")*@


<style>
    * {
        font-family: Arial;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>
        html {
            font-family: siyamrupali, segoui;
            font-size: 9px;
        }

        h1 {
            color: blue;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0px;
            width: 100%;
        }

            table tr th {
                color: #000;
                padding: 2px;
                text-align: center;
            }

            table tr td {
                margin: 0px;
                padding: 2px;
                text-align: left;
            }

        table, td, th {
            border: 1px solid #ddd;
        }

            table tr td {
                padding: 6px;
                font-size: 13px;
            }

            table tr th {
                font-size: 13px;
                padding: 8px;
            }

        .tv00 {
            overflow: hidden;
            width: 100%;
        }

        .tv01 {
            width: 50%;
            float: left;
            font-size: 11px;
            left: 0;
        }

        .tv02 {
            width: 50%;
            float: right;
            font-size: 11px;
            text-align: right;
            right: 0;
        }

        .tv {
            font-size: 11px;
        }

        .tv03 {
            font-size: 11px;
        }

            .tv03 p {
                font-size: 11px;
                display: inline-block !important;
                line-height: 1px !important;
            }

        .signature {
            overflow: hidden;
            width: 100%;
        }

        td {
            border-bottom: 1px solid #CDC1A7;
            padding: 5px;
        }

        th {
            font-size: 10px;
            padding: 5px;
        }


        /*Subsidiary ledger	Start */

        /*.ledger {
            width: 800px;
        }
        .company_name {
            text-align: center;
            font-size: 12px;
            font-weight: bold;
        }
        .sub_ledger1 {
            text-align: left;
            padding-left: 25px;
            font-weight: 11px !important;
        }
        .sub_ledger2 {
            text-align: left;
            padding-left: 25px;
            font-weight: 11px !important;
        }
        .subsidiary_ledger {
            border: none !important;
        }
        .subsidiary_ledger tr th, td {
            border: none !important;
        }
        .accounts_charts td:nth-child(1) {
            text-align: right;
            padding-right: 15px;
        }
        .accounts_charts td:nth-child(2) {
            text-align: left;
            padding-left: 15px;
        }
        .accounts_charts td:nth-child(3) {
            text-align: right;
            padding-right: 15px;
        }
        .tr_balance td:nth-child(1) {
            text-align: right;
            padding-right: 10px;
        }
        .tr_balance td:nth-child(2) {
            text-align: left;
            padding-left: 10px
        }
        .tr_balance td:nth-child(3) {
            text-align: right;
            padding-right: 5px;
        }
        .tr_balance td:nth-child(4) {
            text-align: right;
            padding-right: 5px;
        }
        .tr_balance td:nth-child(5) {
            text-align: right;
            padding-right: 5px;
        }
        .back_ground1 {
            background: #bcbcbc;
            font-weight: bold;
            color: #B22222;
            text-align: center;
        }
        .back_ground2 {
            background: #DDDDDD;
            color: #0000FF;
            text-align: center;
        }
        .tr_balance td {
            border: 1px solid #ccc !important;
        }

          #tbl_case_list tr td:nth-child(4),
          #tbl_case_update_list tr td:nth-child(4)
          {
              text-align: right;
              padding-right: 3px;
          }*/
    </style>
    <style type="text/css">
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
    <style>
        html, body, h1, h2, p {
            margin: 0;
            padding: 0;
        }

        html, body, #wrapper {
            min-height: 100%;
        }

        body {
            font-family: sans-serif;
            text-align: justify;
            font-size: 14px;
            line-height: 1.5em;
        }

        #wrapper {
            padding: 0 0 1px 0;
            max-width: 1024px;
            margin: auto;
            background: white;
        }

        h1 {
            padding: 1em;
            clear: both;
            font-size: 300%;
            text-align: center;
        }

        h2 {
            margin-bottom: 1em;
            padding: .5em;
            clear: both;
            float: left;
            text-align: left;
            font-size: 200%;
        }

        p {
            clear: left;
            margin: 2em;
        }

        img {
            display: block;
            height: 10em;
            width: auto;
            margin: 0 0 1em 1em;
            float: right;
        }
        }
    </style>


</head>
<body class="lcmslogo" onload="">

    @RenderBody()
</body>
</html>
