<li>
    <a href="javascript:;">
        <i class="icon-settings"></i>
        <span class="title">Setup</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu" id="Parent_33">
        <li><a href="/Stdpersonalinfo"> Report Address</a></li>
    </ul>
</li>

<li>
    <a href="javascript:;">
        <i class="icon-settings"></i>
        <span class="title">Reports</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu" id="Parent_33">
        <li><a href="/ControllerSection/Marksheet"> Marks Sheet</a></li>
        <li><a href="/ControllerSection/TabulationSheetCont"> Academic Transcript</a></li>
        <li><a href="/ControllerSection/Balambook"> Balam Book</a></li>
        <li><a href="/ControllerSection/ProvisionalCertificate">Provisional Certificate</a></li>
    </ul>
</li>
