<!DOCTYPE html>
@{ 
    Layout = "";
}
<table class="" style="border-collapse:collapse;text-align: center;font-size:12px;width:100%;" border="0">
    <tr style="border:0px !important;">
        <td valign="bottom"><span id="exam_com_head">@ViewBag.head_name</span><br><b>Head of Examination Committee</b></td>
        <td valign="bottom"><span id="exam_com_member1">@ViewBag.member1_name</span><br><b>Member-I</b></td>
        <td valign="bottom"><span id="exam_com_member2">@ViewBag.member2_name</span><br><b>Member-II</b></td>
        <td valign="bottom"><span id="exam_com_member3">@ViewBag.member3_name</span><br><b>Member-III</b></td>
    </tr>
</table>
